html, body {
    margin: 0;
    padding: 0;
    height: 600px;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#heading {
    order: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#logo{
    order: 0;
    margin: 15px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}

#header-banner {
order: 1;
height: 60px;
font-weight: bold;
font-size: 26px;
color: #000000;
background: #ffffff;
text-align: center;
}

#subtitle {
    order: 2;
    color: #616161;
    text-align: center;

}

#camera-container {
    order: 3;
	margin: 0px auto;
	width: 380px;
	height: 500px;
	border: 10px #333 solid;
}
#camera-window {
	width: 380px;
	height: 500px;
	background-color: #666;
}

#warning-message{
    order: 4;
    margin: 15px; 
    color: #a90a0a;
    text-align: left;
}

#canvas-container{
    margin: 15px;
    order: 5;
    width: 380px; 
    height: 500px;
    background-color: rgb(177, 177, 177);
    visibility: hidden;
}

#scan-result {
    order: 3; 
    margin: 15px;
    display: flex;
    flex-direction: column;
}

#qr-text-label{
    order: 0; 
    margin-top: 200px;
}
#qr-text{
    order: 1; 
}
#qr-link{
    display: block;
    order: 2;
}

#scan-button{
    order: 3;
    margin-top: 200px; 
    padding: 5px;
    width: 250px;
}

/* #video-container {
    order: 2;
    margin: 0px auto;
    width: 300px;
    height: 300px;
    border: 10px #333 solid;
    visibility: hidden;
}
#video-window {
    width: 300px;
    height: 300px;
    background-color: #666;
    visibility: hidden;
} */